body{
  padding: 0;
  margin: 0;
}

#container-nav {
    background-color: #FFFFFF;
}

#container-header {
    background-color: #DBD9DB;
    height: 350px;
    width: 100%;
}

#container-content {
    padding: 24px 0px;
}

#container-footer {
    padding: 32px 0px;
    background-color: #DBD9DB;
    color: #fff;
    font-weight: 100;
}

.box {
    padding: 14px;
}

img {
    max-width: 100%;
}

#masthead {
    color: #fff;
}

/*------------------------------------*/
/*clearfix hack*/
.group:after{
  content: " "; /* 1 */
  display: table; /* 2 */
  clear: both;
}

.group {
  *zoom: 1; /* 3 */
}
html{
  font-size: 100%;
  line-height: 1;
  /* disable auto scaling on smartphones*/
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  /*--------------------------------------*/
}

body{
  font-family: 'Roboto Condensed', 'Helvetica Neue', 'helvetica', sans-serif;
}
p{
  font-size: 17px;
  line-height: 20px;
}

/*---------------------------------------------*/
.ie body{
  width: 640px;
  margin:0 auto;
}


/*media query for screen widths larger than 720px
-----------------------------------------------*/

@media screen and (min-width: 720px){
  #portfolio article,
  #resume article {
    float: left;
    width: 33%;
  }
}

/*------------------------------------------------*/
