body{
  padding: 0;
  margin: 0;
}

#container-nav {
    background-color: #FFFFFF;
}

#container-header {
    background-color: #DBD9DB;
    height: 350px;
    width: 100%;
}

#container-content {
    padding: 24px 0px;
}

#container-footer {
    padding: 32px 0px;
    background-color: #DBD9DB;
    color: #fff;
    font-weight: 100;
}

.box {
    padding: 14px;
}

img {
    max-width: 100%;
}

#masthead {
    color: #fff;
}

/*------------------------------------*/
/*clearfix hack*/
.group:after{
  content: " "; /* 1 */
  display: table; /* 2 */
  clear: both;
}

.group {
  *zoom: 1; /* 3 */
}
html{
  font-size: 100%;
  line-height: 1;
  /* disable auto scaling on smartphones*/
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  /*--------------------------------------*/
}

body{
  font-family: 'Roboto Condensed', 'Helvetica Neue', 'helvetica', sans-serif;
}

.wrapper{
  padding: 0 .65em;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing: border-box;
}

p, #resume li {
  font-size: 1.063em;
  line-height: 1.223em;
  margin: .612em 0;
}

/*change all headings to the lightest weight*/
h1, h2, h3, h4, h5, h6 {
  font-weight: 100;
}

h1{
  font-size: 3.189em;
  line-height: 1.223em;
}
h2{
  font-size: 2.126em;
  line-height: 1.223em;
}

h1, h2 {
  text-shadow: 0 2px 2px rgba(0, 0, 0, .65);
}

h3{
  font-size: 1.382em;
  line-height: 1.176em;
}

h4{
  font-size: 1em;
  line-height: 1.56;
  text-transform: uppercase;
}

#portfolio h4 {
  line-height: 1.82;
}

h5, h6 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: .85em;
  line-height: 1.53;
  font-weight: 500;
}

h6{
  color: #aaa;
  font-weight: 200;
}

.box ul{
  list-style: none;
  padding: 0;
}

.box h4{
  border-top: 4px double #eee;
  border-bottom: 1px solid #eee;
  margin-bottom: .975em;
  text-align: center;
}

figure,
.box{
  background: #fff;
  -moz-box-shadow:0 0 .325em .13em rgba(0, 0, 0, .1);
  -webkit-box-shadow:0 0 .325em .13em rgba(0, 0, 0, .1);
  box-shadow:0 0 .325em .13em rgba(0, 0, 0, .1);
  padding: .975em;
}

nav h3{
  text-transform: capitalize;
}

#content article{
  padding-top: .65em;
  padding-bottom: 1.3em;
}

section footer{
  clear: both;
}

/*---------------------------------------------*/
.ie body{
  width: 640px;
  margin:0 auto;
}


/*media query for screen widths larger than 720px
-----------------------------------------------*/

@media screen and (min-width: 720px){
  #portfolio article,
  #resume article {
    float: left;
    width: 33.333%;
  }

  body{
    font-size: 107.692%;
  }
}

@media screen and (min-width: 45em){


}
/*------------------------------------------------*/
